<div fxLayoutAlign="center center" fxFlexFill class="c-login-main">
  <mat-card fxFlex="300px">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form class="example-form" fxLayoutAlign="stretch" fxLayout="column" class="c-login-form">

      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password">
      </mat-form-field>

      <div class="c-button-group" fxLayout="column">
        <button mat-raised-button type="button" color="primary" [routerLink]="'/dashboard'">Login</button>
        <button mat-raised-button type="button" color="accent" (click)="goToDashboard();">Login Test</button>
        <!-- <button mat-raised-button type="button" color="warn">Login Warn</button>
        <button mat-raised-button type="button" color="secondary">Login Secondary</button>
        <button mat-raised-button type="button" color="error">Login Error</button>
        <button mat-raised-button type="button" color="primary" disabled>Login with Diavox</button> -->
      </div>


    </form>
  </mat-card>
</div>
