@import '~@angular/material/theming';
@include mat-core();

$dvx-primary: mat-palette($mat-teal);
$dvx-accent: mat-palette($mat-deep-orange, 800);

$dvx-theme: mat-light-theme($dvx-primary, $dvx-accent);

@include angular-material-theme($dvx-theme);

